body {
    background-image: linear-gradient(to right, rgba(255, 224, 222), rgba(255, 109, 99));
}

.title{
    color: black;
}

.workouts {
    border: 1px solid black;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 280px;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;


}

.wTitle{
    text-align: center;
}

.meals {
    border: 1px solid black;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 280px;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    list-style: none;
}

.lMeals {
    text-align: center;
}

.goals {
    border: 1px solid black;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 280px;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    list-style: none;

}

.lGoals{
    text-align: center;
}

.nav-item{
    list-style: none;
    color: black !important;
}

.btn {
    color: black
}


.wrapper {
    display: grid;
    grid-column-gap: 10px;
    border: 30px 30px 30px 30px;
    padding: 50px 50px 50px 50px;
}

.welcome {
    text-align: center;
    margin-bottom: 20px;
}