
{% extends 'fit/base.html' %} {% block content %}
<h2 class='lMeals'>Logged Meals</h2>
<ul class='meal'>
  {% for meal in meals %}
  
  <li class='meals'>
  
    <p>Meal Type:{{ meal.Meal_Type }}</p>

    <p>Contents:{{ meal.contents }}</p>
  
    <p>Calories:{{ meal.calories }}</p>
    <button type= "button" class="btn btn-info"><a href="{% url 'meal_edit' id=meal.id%}">Edit</a></button>
    <button type="button" class="btn btn-danger"><a href="{% url 'meal_delete' pk=meal.pk %}">Delete</a></button>
    
  </li>
  {% endfor %}
</ul>
{% endblock %}